<!DOCTYPE html>
<html lang="en">
<head>

    <link rel='stylesheet' href='../../static/css/blue.css'/>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel='stylesheet' href='../../static/css/bootstrap.min.css'>

</head>
<body>
<!--content Start -->
<div class="section-full align-c">
    <div id="siteBg" class="site-bg" style="background: none;">
        <div id="star_animation" class="site-bg-animation layer" data-depth="0.30"></div>
        <canvas class="site-bg-canvas layer" data-depth="0.30"></canvas>
        <div id="main_content" data-sr="bottom">
            <img id="foody" src="../../static/img/item/food_desktop.png"/>
            <img id="foody_S" src="../../static/img/item/food_mobile.png"/>
        </div>
        <div class="section" id="thumbs_menu">
            <button id="thumbs_down" type="button" class="thumb_button" data-toggle="modal" data-target="#Fail" onclick="submitNo();">
                <img class="thumb_button_img" src="../../static/img/bg/thumbs_down.png"/>
            </button>
            <button id="thumbs_up" type="button" class="thumb_button shakee" data-toggle="modal" data-target="#ContactUs" >
                <img class="thumb_button_img" src="../../static/img/bg/thumbs_up.png"/>
            </button>
        </div>
        <img id="base-food" src="../../static/img/bg/food_desktop.png" />
        <img id="base-food-S" src="../../static/img/bg/food_mobile.png"/>

        <div class="modal fade" id="ContactUs" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">WELCOME</h1>
                    </div>
                        <div class="modal-body" style="text-align:center; width:100%;">
                            <div class="container" style="width: 100%; align-content: center;">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-warning active" style="border-radius: 4px; margin-right: 4px; margin-left: 4px;">
                                        <input type="checkbox" autocomplete="off" checked>
                                        <span>15:00</span>
                                    </label>
                                    <label class="btn btn-warning" style="border-radius: 4px; margin-right: 4px; margin-left: 4px;">
                                        <input type="checkbox" autocomplete="off">
                                        <span>15:30</span>
                                    </label>
                                    <label class="btn btn-warning" style="border-radius: 4px; margin-right: 4px; margin-left: 4px;">
                                        <input type="checkbox" autocomplete="off">
                                        <span>16:00</span>
                                    </label>
                                    <label class="btn btn-warning" style="border-radius: 4px; margin-right: 4px; margin-left: 4px;">
                                        <input type="checkbox" autocomplete="off">
                                        <span>16:30</span>
                                    </label>
                                    <label class="btn btn-warning" style="border-radius: 4px; margin-right: 4px; margin-left: 4px;">
                                        <input type="checkbox" autocomplete="off">
                                        <span>17:30</span>
                                    </label>
                                    <label class="btn btn-warning" style="border-radius: 4px; margin-right: 4px; margin-left: 4px;">
                                        <input type="checkbox" autocomplete="off">
                                        <span>18:00</span>
                                    </label>
                                </div>
                            </div>
                            <div id="load-spin" class="container" style="display: none; width: 100%; align-content: center;">
                                <div class="contact_message">Please wait while we process your information...</div>
                                <div class="loading-spinner"  style="width: 80%; margin-left: auto; margin-right: auto;">
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar" style="width: 100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div id='tdd' style="display: none;">
                                <img id="form_complete_img" src="../../static/img/item/green_tick.png">
                                <div class="contact_message">We've got your message and will contact you shortly, thank you!</div>
                                <a href="http://dariuspjm.wixsite.com/turnup">Join Us!</a>
                            </div>
                        </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="submitSuccess();" class="button_splash">CONFIRM</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="Fail" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img src="../../static/img/bg/Logo.png" style="width: 100px; height: auto;"/>
                    </div>

                    <div class="modal-body" style="text-align:center;">
                        <div id='rdd'>
                            <img src="../../static/img/item/green_tick.png" style="width: 180px; height: auto;"/>
                            <div class="contact_message">We've got your message, thank you!</div>
                        </div>
                    </div>
                    <div class="modal-footer" style="height: 10vh;">
                        <h3>To find out more about us, click on the link below:</h3>
                        <a style="padding-bottom: 2vh;" href="http://dariuspjm.wixsite.com/turnup">TURN UP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../static/js/jquery-1.9.1.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src='../../static/js/vendor/plugin.js'></script>
<script src='../../static/js/variable.js'></script>
<script src='../../static/js/main.js'></script>

<script>
    $( window ).load(function() {
        $('#main_content').show();
        setTimeout(function (){$(document).trigger('is-loaded');
        }, 800);
    });

    $(document).ready(function () {
        setTimeout(function (){$("#thumbs_menu").fadeIn(800);
        }, 4000);
    });

    function submitNo () {
        setTimeout(function (){$('#Fail').hide();}, 4000);
    }

    function submitSuccess () {
        $('#common_form').hide();
        $('#load-spin').show();
        setTimeout(function (){$('#load-spin').hide();}, 2000);
        setTimeout(function (){$('#tdd').show();}, 2000);
        setTimeout(function (){$('#tdd').hide();}, 5500);
        setTimeout(function () {$('#common_form').fadeIn(10);},5500);
        }

    function postData (checkboxName) {
        var checkboxes = document.querySelectorAll('input[name="' + checkboxName + '"]:checked'), values = [];
        Array.prototype.forEach.call(checkboxes, function(el) {
        values.push(el.value);
        });
        console.log(values);
    }
</script>
<!--content End -->
</body>
</html>