{% block head-scripts %}

    <link rel='stylesheet' href='../../static/css/blue.css'/>

{% endblock head-scripts %}


{% block content %}
    {% load staticfiles %}
    <!--content Start -->
        <div class="section-full align-c">
          <div id="siteBg" class="site-bg">
              <div class="site-bg-animation layer" data-depth="0.30"></div>
              <canvas class="site-bg-canvas layer" data-depth="0.30"></canvas>
          </div>
          <div class="section">
              <img src="../../static/img/item/cloudy_1.png" style="width: 20vw; float: right; margin: 0 180px 0 0;"/>
          </div>
          <div class="section">
              <img src="../../static/img/item/cloudy_1.png" style="width: 23vw; float: right; margin: -20px 80px 0 0;"/>
          </div>
          <div class="section">
              <img src="../../static/img/item/cloudy_1.png" style="width: 17vw; float: left; margin: -40px 0 0 160px;"/>
          </div>

          <div>
              <img id="slide" src="../../static/img/item/rocket.png" style="height: 21vh; width: auto; z-index: 3; position: absolute; right: 0; bottom: 120px; left: 44.8vw;"/>
              <img id="rocket" src="../../static/img/item/rocket.png" style="height: 21vh; width: auto; position: absolute; right: 0; bottom: 90px; left: 44.8vw; display: none; z-index: 3;"/>
          </div>
          <img id="base-white" src="../../static/img/bg/cloud_base_L.png" style="width: 100vw; height: auto; position: absolute; right: 0; bottom: -6vh; left: 0; overflow: hidden; z-index: 2;"/>
          <img id="base-dark" src="../../static/img/bg/cloud_background_L.png" style="width: 100vw; height: auto; position: absolute; right: 0; bottom: 5vh; left: 0; overflow: hidden; z-index: 1;"/>

        <!--<div id="contact" class="section align-c">-->
            <!--<form onsubmit="return submitContactUs('{{csrf_token}}');" data-toggle="validator" id="ContactUsForm" role="form" method="post" action="">{% csrf_token %}-->
                <!--<div class="section-heading">-->
                    <!--<h1 style="color: #1080f2; margin-bottom: 60px;">LET'S TALK</h1>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="text" id="your_name" placeholder="Your name" required>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<input type="email" id="contact_email" placeholder="Email" required>-->
                <!--</div>-->
                <!--<div>-->
                    <!--<textarea id="comment" rows="6" placeholder="Tell us about your project"></textarea>-->
                <!--</div>-->
                <!--<button type="submit" class="button_splash" id="submit">Submit</button>-->
            <!--</form>-->
            <!--<div id='loading' style="margin-top: 120px; display: none;">-->
                <!--<div class="contact_message">Please wait while we process your information...</div>-->
                <!--<div class="loading-spinner" style="width: 560px; margin: 40px auto 35px;">-->
                    <!--<div class="progress progress-striped active">-->
                        <!--<div class="progress-bar" style="width: 100%;"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id='form_complete' style="display: none; margin-top: 40px;">-->
                <!--<img id="form_complete_img" src="{{ STATIC_URL }}pictures/green_tick.png">-->
                <!--<div class="contact_message" style="margin-top: 60px;">We've got your message and will contact you shortly, thank you!</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/jquery-1.9.1.js"></script>
    <script src='../../static/js/vendor/plugin.js'></script>
    <script src='../../static/js/variable.js'></script>
    <script src='../../static/js/map.js'></script>
    <script src='../../static/js/main.js'></script>
    <script src="../../static/js/business_contact_us.js"></script>
    <script>$( window ).load(function() {
        $('#main_content').show();
        $(document).trigger('is-loaded');
    })
    </script>
    <script>
    $(document).ready(function () {
        setTimeout(function (){$("#rocket").fadeIn();
        }, 6000);
    });
    </script>

    <!--content End -->


{% endblock content %}